/* Custom scrollbar for webkit browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #1e1e1e;
}
html.dark ::-webkit-scrollbar-track {
  background: #1e1e1e;
}
html:not(.dark) ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #4f4f4f;
  border-radius: 4px;
}
html:not(.dark) ::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}
::-webkit-scrollbar-thumb:hover {
  background: #6f6f6f;
}
html:not(.dark) ::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}